<p>&nbsp;</p>
<p></p>
<h2><em>{{ flatpage.title }}</em></h2>
<hr />
<h3><span style="color: #3366ff;"><em>Ваши комментарии:</em></span></h3>
<table>
<tbody>
<tr>
<td>111</td>
<td>222</td>
<td>333</td>
</tr>
<tr>
<td>444</td>
<td>555</td>
<td>666</td>
</tr>
<tr>
<td>777</td>
<td>888</td>
<td>999</td>
</tr>
</tbody>
</table>
{{ flatpage.content }}
{{ flatpage.content }}
<h3><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></h3>
<p>&nbsp;</p>
<p>{{ flatpage.content }}</p>